config:
  dryRun: false
  runHour: 0
  startHour: 3
  endHour: 5
  timeZone: ${timeZone}
  whitelistedNamespaces:
%{ for ns in whitelistedNamespaces ~}
  - ${ns}
%{ endfor ~}
  notifications:
    enabled: true
    attacks: |
      endpoint = "${notificationUrl}"
      message = '{"text":"`[{$name_prefix}]` Attacked `{$name}` of `{$namespace}` on {$date} at {$time}. {$error}"}'
      headers = ["Content-Type:application/json"]
